@charset "UTF-8";

#message {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1900;
}

.kv-avatar .file-preview-frame,
.kv-avatar .file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
}

.kv-avatar .file-input {
  display: table-cell;
  max-width: 220px;
}

.kv-upload-progress {
  display: none;
}

.CanvaAreaBack,
.CanvaArea {
  position: relative;
}

.designAreaBack,
.designArea {
  width: 100px;
  height: 100px;
  border: 2px solid #222;
  position: absolute;
  cursor: move;
  z-index: 2000;
}

.tab-pane {
  margin-bottom: 10px;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type=radio]:empty,
.funkyradio input[type=checkbox]:empty {
  display: none;
}

.funkyradio input[type=radio]:empty ~ label,
.funkyradio input[type=checkbox]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.funkyradio input[type=radio]:empty ~ label:before,
.funkyradio input[type=checkbox]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type=radio]:hover:not(:checked) ~ label,
.funkyradio input[type=checkbox]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type=radio]:hover:not(:checked) ~ label:before,
.funkyradio input[type=checkbox]:hover:not(:checked) ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #C2C2C2;
}

.funkyradio input[type=radio]:checked ~ label,
.funkyradio input[type=checkbox]:checked ~ label {
  color: #777;
}

.funkyradio input[type=radio]:checked ~ label:before,
.funkyradio input[type=checkbox]:checked ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type=radio]:focus ~ label:before,
.funkyradio input[type=checkbox]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type=radio]:checked ~ label:before,
.funkyradio-default input[type=checkbox]:checked ~ label:before {
  color: #fff;
  background-color: #148998;
}

.funkyradio-primary input[type=radio]:checked ~ label:before,
.funkyradio-primary input[type=checkbox]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type=radio]:checked ~ label:before,
.funkyradio-success input[type=checkbox]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type=radio]:checked ~ label:before,
.funkyradio-danger input[type=checkbox]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type=radio]:checked ~ label:before,
.funkyradio-warning input[type=checkbox]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type=radio]:checked ~ label:before,
.funkyradio-info input[type=checkbox]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

.overlay {
  position: absolute;
  background: rgba(192, 192, 192, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

