.app-card-header {
  color: #FFFFFF;
  font-weight: 600;
  background-color: #1896a9 !important;
}

.sidebar {
  background-color: #1896a9;
}

.sidebar .nav-title {
  color: #FFFFFF;
  font-weight: 600;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover i {
  color: #FFFFFF;
  font-weight: 500;
}

.sidebar .nav-link i:first-of-type,
.sidebar .nav-link {
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar .nav-dropdown.open .nav-dropdown-items {
  max-height: 1000px !important;
  background-color: #116b79;
}

.super-header {
  background-color: #116b79;
  color: #fff;
}

.btn-primary {
  background: #1896a9;
  border: 1px solid #1896a9;
  color: #FFFFFF;
  font-weight: 600;
}

.btn-primary:hover {
  background: #116b79;
  border: 1px solid #116b79;
  color: #FFFFFF;
}

.has-error .form-control {
  border: 1px solid #C82501;
  color: #C82501;
}

.has-error .help-block {
  color: #C82501;
}

