@import "./variables";

.app-card-header{
    color: $primary_text_color;
    font-weight: 600;
    background-color: $primary_color !important;
}

.sidebar {
    background-color: $primary_color;
}

.sidebar .nav-title {
    color: $primary_text_color;
    font-weight: 600;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover i {
    color: $active_color;
    font-weight: 500;
}
 
.sidebar .nav-link i:first-of-type,
.sidebar .nav-link {
    color: $primary_text_color;
    font-weight: 500;
    text-transform: uppercase;
}

.sidebar .nav-dropdown.open .nav-dropdown-items {
    max-height: 1000px !important;
    background-color: $primary_color_dark;
}

.super-header{
    background-color: $primary_color_dark;
    color: #fff;
}

.btn-primary{
    background: $primary_color;
    border: 1px solid $primary_color;
    color: $primary_text_color;
    font-weight: 600;
}

.btn-primary:hover{
    background: $primary_color_dark;
    border: 1px solid $primary_color_dark;
    color: $primary_text_color;
}

.has-error .form-control{
    border: 1px solid #C82501;
    color: #C82501;
}

.has-error .help-block{
    color: #C82501;
}
